#general {
  max-width: 750px;
  margin: auto;
  background: black;
}

.github {
  width: 350px;
  border-radius: 100%;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
}

.info {
  text-align: center;
}
